.navigation{
    display:block;
    background-color: black;
    height: 50px;
}
.logo-div{
    display: block;
    height: 100%;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.15);
    background-image: url('../img/nav_arrow.png');
    background-repeat: no-repeat;
    background-position: center;
    float: left;
}
.logo-div:hover, .search-div:hover{
    cursor: pointer;
}
body{
    background-color:#EEEEEE;
}
.navigation-kenaz-div{
    display: block;
    height:100%;
    float: left;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}
.navigation-kenaz-text{
    font-size: 24px;
    margin: 0 10px;
    color: white;
}
.search-div{
    display: block;
    height: 100%;
    width: 50px;
    background-color: rgba(255, 255, 255, 0.15);
    background-image: url('../img/search.png');
    background-repeat: no-repeat;
    background-position: center;
    float: right;
}
.navigation-div{
    display: block;
    height:100%;
    float: right;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    margin-right: 35px;

}
.navigation-text{
    color:white;
    font-size: 14px;
}
.main-page{
    width:940px;
    height:4000px;
    margin-left: auto;
    margin-right: auto;
    margin-top:50px;
}
.navigation-wrapper,.topics-wrapper{
    width:940px;
    height:50px;
    margin-left: auto;
    margin-right: auto;
}

.topics-centered {
    display: flex;
    justify-content: center;
    align-items: center;
    float: left;
}

.topics{
    display:block;
    background-color:#4D4382;
    height: 100%;
}
.topics-news{
    background-color: #299EC3;
    height: 100%;
}

.topics-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: white;
    margin: 16px 20px 14px 19px;
}
.topics-business{
    height: 100%;
    padding-top: 3px;
    border-bottom: 3px solid #EE6151;
}
.topics-sport{
    height: 100%;
    padding-top: 3px;
    border-bottom: 3px solid #84C14F;
}
.topics-life{
    height: 100%;
    padding-top: 3px;
    border-bottom: 3px solid #5DCFF3;
}
.topics-tech{
    height: 100%;
    padding-top: 3px;
    border-bottom: 3px solid #FCC44D;
}
.topics-travel{
    height: 100%;
    padding-top: 3px;
    border-bottom: 3px solid #A99765;
}
.purple-footer-line{
    height: 20px;
    background-color: #4D4382;
}
.footer-div{
    background: #373737;
    height:1200px;
}
.footer-wrapper{
    width:940px;
    background: #373737;
    margin-left:auto;
    margin-right: auto;
}
.footer-contact{
    margin-top: 56px;
}
.footer-heading{
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    margin-bottom: 30px;
}
.kenaz-footer-div{
    background-image: url('../img/footer_arrow.png');
    background-repeat: no-repeat;
    color: #45B0E3;
    font-size: 30px;
    padding-left: 40px;
}
.kenaz-footer-text{
    color: #666666;
    font-size: 14px;
    margin-top: 15px;
}
.kenaz-footer-image{
    height:35px;
    width:35px;
    margin-top: 15px;
}
.wifi-image{
    background: url('../img/wifi.png');
    background-color: #F8BC2E;
    background-repeat: no-repeat;
    background-position: center;
}
.facebook-image{
    background: url('../img/Facebook.png');
    background-color: #39599F;
    background-repeat: no-repeat;
    background-position: center;
}
.twitter-image{
    background: url('../img/twitter.png');
    background-color: #45B0E3;
    background-repeat: no-repeat;
    background-position: center;
}
.dribbble-image{
    background: url('../img/dribbble.png');
    background-color: #D97AA5;
    background-repeat: no-repeat;
    background-position: center;
}
.linked-in-image{
    background: url('../img/in.png');
    background-color: #65B7D2;
    background-repeat: no-repeat;
    background-position: center;
}
.youtube-image{
    background: url('../img/YouTube\ 3.png');
    background-color: #E70031;
    background-repeat: no-repeat;
    background-position: center;
}
.skype-image{
    background: url('../img/Skype.png');
    background-color: #00C6FF;
    background-repeat: no-repeat;
    background-position: center;
}
.newsletter-footer-title{
    color: #CCCCCC;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding-left: 20px;
}
.newsletter-footer-text{
    color: #666666;
    font-size: 14px;
    margin-top: 20px;
    padding-left: 10px;
}
.newsletter-footer-subscribe{
    height:100%;
    background-color:#4D4382;
    display:flex;
    justify-content: center;
    padding-top:10px;
    margin-top: 18px;
    color:white;

}
.newsletter-footer-contact{
    height:50px;
}
.newsletter-footer-input{
    height:100%;
    background-color:#333333;
    margin-top: 18px;
    color:#999999;
    padding-top:10px;
    padding-left: 20px;
}

.test-padding {
    margin: 0 20px;
}
.palestinian-text{
    color: rgb(204,204,204);
    padding-left:0;
}
.palestinian-date{
    color: rgb(102,102,102);
    margin-left: 0;
}
.footer-picture-div{
    height: 75px;
    width:75px;
    padding: 5px;
    border: 2px solid white;
    background:url('../img/Layer\ 63.png');
}
.palestinian-hr{
    border-color:#707070;
    width: calc(100% + 30px);
    margin-top: 30px;
    margin-bottom: 30px;
}
.envato-text{
    color:#666666;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
}
.envato-post{
    color:#CCCCCC;
    font-size:13px;
    margin-bottom: 35px;
}
.kenaz-footer-navtext{
    font-size:12px;
    color:#999999;
}
.footer-wrapper-end{
    width:940px;
    margin-left:auto;
    margin-right:auto;
}
.placeholder-1{
    background: #fff;
    height: 120px;
    width: 940px;
    display: grid;
    justify-content: center;
    align-items: center;


}
.banner-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #999999;
}
.placeholder-2{
    background: #fff;
    height: 425px;
    width: 940px;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 20px;

}
.news{
    width:620px;
    height:322px;
    border-left: 10px solid #3677B5;
    margin-top: 30px;
    background-color: #fff;
}
.news-header{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.news-link{
    text-align: right;
    margin-top: 5px;
    margin-right: -12px;
}
.news-date{
    font-size:12px;
    margin-top: 10px;
}
.news-text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

